# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# VS Code/JetBrains/Android Studio
.idea/
.vscode/
*.iml

# macOS
macos/Flutter/ephemeral/

# iOS
ios/Flutter/Flutter.framework/
ios/Pods/
ios/Flutter/ephemeral/

# Android
android/.gradle/
android/local.properties
android/Flutter/ephemeral/

# Web
web/.dart_tool/

# Linux/Windows build
linux/Flutter/ephemeral/
windows/Flutter/ephemeral/

# Otros
letrilandia/.dart_tool/
letrilandia/build/
letrilandia/.idea/
letrilandia/.vscode/
letrilandia/*.iml
letrilandia/macos/Flutter/ephemeral/
letrilandia/ios/Flutter/Flutter.framework/
letrilandia/ios/Pods/
letrilandia/ios/Flutter/ephemeral/
letrilandia/android/.gradle/
letrilandia/android/local.properties
letrilandia/android/Flutter/ephemeral/
letrilandia/web/.dart_tool/
letrilandia/linux/Flutter/ephemeral/
letrilandia/windows/Flutter/ephemeral/

# Archivos de sistema
.DS_Store
Thumbs.db
